<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATSfaHlP2IjrSNcOgoyfHz6M4nEZp4ijQ</string>
	<key>GCM_SENDER_ID</key>
	<string>826122369446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.logstack.mobile</string>
	<key>PROJECT_ID</key>
	<string>general-saas-project</string>
	<key>STORAGE_BUCKET</key>
	<string>general-saas-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826122369446:ios:85cd13300740cf075ef767</string>
</dict>
</plist>